body {
    font-size: 1.8em;
}

h1 {
    color: blue;
}

.Main {
    margin-left: auto;
    margin-right: auto;
    
    padding: 10px;
    width: 800px;
}

.Guess {
    padding: 10px;
    background: lightgray;
}

.Guess input {
    font-size: 1em;
    padding: 5px;
}

.Ergebnisse {
    padding: 10px;
}

.Ergebnisse table {
    font-size: 1em;
    padding: 25px;
    background: lightyellow;
    width: 700px;
}

.Ergebnisse thead {
    font-weight: bold;
}

.Result {
    font-weight: bold;
    font-size: 1.3em;
    color: darkgreen;
}

.Error {
    font-weight: bold;
    color: red;
}

button {
    margin: 40px;
    font-size: 1.6em;
}